html {
    height: 100%;
} 
html,
 body {
  width: 100%;
  font-family: 'Montserrat-Regular', Verdana, sans-serif;
  color: #000;
  background-color: #fff;
  height: 100%;
  -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1; 
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes fontfix {
  from { opacity: 1; }
  to   { opacity: 1; }
}
a:link {
	text-decoration:none;
}
a:visited {
	text-decoration:none;
}
a:active {
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
/*clearfix css*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/*clearfix css end*/
@font-face {
	font-family: 'Montserrat-Black';
	src: url('../fonts/Montserrat-Black.ttf') format('woff2');
	src: url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'), 
   url('../fonts/Montserrat-Black.woff2') format('woff2'),  
   url('../fonts/Montserrat-Black.woff') format('woff'),  
   url('../fonts/Montserrat-Black.ttf') format('truetype'),  
   url('../fonts/Montserrat-Black.svg#montserratregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../fonts/Montserrat-Bold.ttf') format('woff2');
	src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Montserrat-Bold.woff2') format('woff2'),  
  url('../fonts/Montserrat-Bold.woff') format('woff'),  
  url('../fonts/Montserrat-Bold.ttf') format('truetype'),  
  url('../fonts/Montserrat-Bold.svg#montserratregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-SemiBold';
	src: url('../fonts/Montserrat-SemiBold.ttf') format('woff2');
	src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), 
   url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),  
   url('../fonts/Montserrat-SemiBold.woff') format('woff'),  
   url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),  
   url('../fonts/Montserrat-SemiBold.svg#montserratregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-Medium';
	src: url('../fonts/Montserrat-Medium.ttf') format('woff2');
	src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),         
        url('../fonts/Montserrat-Medium.ttf') format('truetype'),  
        url('../fonts/Montserrat-Medium.svg#montserratregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../fonts/Montserrat-Regular.ttf') format('woff2');
	src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),         
        url('../fonts/Montserrat-Regular.ttf') format('truetype'),  
        url('../fonts/Montserrat-Regular.svg#montserratregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-Light';
	src: url('../fonts/Montserrat-Light.ttf') format('woff2');
	src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),         
        url('../fonts/Montserrat-Light.ttf') format('truetype'),  
        url('../fonts/Montserrat-Light.svg#montserratregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin:0px;
  padding:0px;
  text-transform: capitalize;
  font-family: 'Montserrat-Bold', Verdana, sans-serif;
  display: block;
  color:#1d1e1c;
  text-align: left;
}
p {
  margin:0px;
  font-size: 14px;
  line-height:18px;
  padding:0px;
  display: block;
  font-family: 'Montserrat-Regular', Verdana, sans-serif;
  text-align: left;
  color:#1d1e1c;
  text-align:left;
}
.loginMain{
 display: block;
}
.loginMain .logo{
  float: left;
  padding: 15px;
 }
.loginMain .loginForm{
  box-sizing: border-box;
  padding: 10vw 0px;
  margin: 0px auto;
  width: 400px;
  display: block;
  clear: both;
}
.loginMain .loginForm .input-group-text{
  background-color: transparent;
}
.loginMain .loginForm .form-control{
   border-left: transparent;
}
.loginBanner {
  position: relative;
  right: -10px;
  width: 100%;
  min-height: 100vh;
  background-image: url('../images/loginBanner.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  z-index: 2;
}
.main{
  background-color: #00458a;
}
.dashboardHeader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #fff;
  border-bottom: #f1f1f1 solid 1px;
  box-shadow: 0px 10px 10px -20px #111;
  -moz-box-shadow: 0px 10px 10px -20px #111;
  -webkit-box-shadow: 0px 10px 10px -20px #111;
  height: 50px;
  z-index: 99;
}
.dashboardHeader .logo{
  float: left;
  width: 250px;
  box-sizing: border-box;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  padding: 3px 0px 0px 10px;
}
.logoCollapsed {
	width: 65px !important;
  height: 50px;
  background: url('../images/collapsedLogo.png') left top no-repeat transparent;
}
.logoCollapsed img {
	display: none;
}
.headerBtn{
  background-color: #F5F6FA;
  border: #E9E9E9 solid 1px;
  border-radius: 5px;
  text-align: center;
  padding: 3px 5px;
  margin: 7px 15px 7px 5px;
  font-size: 12px;
  color: #666;
  text-decoration: none;
  float: right;
  cursor: pointer;
  position: relative;
}
.headerBtn img{
 vertical-align: middle;
 padding: 0px 5px;
 display: inline-block;
}
.headerBtn2{
  padding: 7px 5px;
}
.dashboardSitebar {
  width: 250px;
  float: left;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #00458a;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 88;
}
.dashboardSitebarCollapsed {
  width: 65px;
  float: left;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #00458a;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 88;
}
.titleCtrl{
	display: block; 
}
.dashboardSitebarCollapsed ul li ul .lastVisibleUl {
  display: none;
}
.icon1{
  background: url('../images/icon1.svg') left center no-repeat;
  display: inline-block;
}
.dashboardSitebar ul li:hover .icon1,
.dashboardSitebar ul li.active .icon1{
  background: url('../images/icon1Active.svg') left center no-repeat;
  display: inline-block;
}
.icon2{
  background: url('../images/icon2.svg') left center no-repeat;
  display: inline-block;
}
.dashboardSitebar ul li:hover .icon2,
.dashboardSitebar ul li.active .icon2{
  background: url('../images/icon2Active.svg') left center no-repeat;
  display: inline-block;
}
.icon3{
  background: url('../images/icon3.svg') left center no-repeat;
  display: inline-block;
}
.dashboardSitebar ul li:hover .icon3,
.dashboardSitebar ul li.active .icon3{
  background: url('../images/icon3Active.svg') left center no-repeat;
  display: inline-block;
}
.icon4{
  background: url('../images/icon4.svg') left center no-repeat;
  display: inline-block;
}
.dashboardSitebar ul li:hover .icon4,
.dashboardSitebar ul li.active .icon4{
  background: url('../images/icon4Active.svg') left center no-repeat;
  display: inline-block;
}
.icon5{
  background: url('../images/icon5.svg') left center no-repeat;
  display: inline-block;
}
.dashboardSitebar ul li:hover .icon5,
.dashboardSitebar ul li.active .icon5{
  background: url('../images/icon5Active.svg') left center no-repeat;
  display: inline-block;
}
.icon6{
  background: url('../images/icon6.svg') left center no-repeat;
  display: inline-block;
}
.dashboardSitebar ul li:hover .icon6,
.dashboardSitebar ul li.active .icon6{
  background: url('../images/icon6Active.svg') left center no-repeat;
  display: inline-block;
}
.icon7{
  background: url('../images/icon7.svg') left center no-repeat;
  display: inline-block;
}
.dashboardSitebar ul li:hover .icon7,
.dashboardSitebar ul li.active .icon7{
  background: url('../images/icon7Active.svg') left center no-repeat;
  display: inline-block;
}
.icon8{
  background: url('../images/icon8.svg') left center no-repeat;
  display: inline-block;
}
.dashboardSitebar ul li:hover .icon8,
.dashboardSitebar ul li.active .icon8{
  background: url('../images/icon8Active.svg') left center no-repeat;
  display: inline-block;
}
.icon9{
  background: url('../images/icon9.svg') left center no-repeat;
  display: inline-block;
}
.dashboardSitebar ul li:hover .icon9,
.dashboardSitebar ul li.active .icon9{
  background: url('../images/icon9Active.svg') left center no-repeat;
  display: inline-block;
}
.dashboardSitebar ul {
  display: block;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.dashboardSitebar ul li {
  display: block;
  text-align: left;
  box-sizing: border-box;
  margin: 0px;
  padding:0px;
  font-family: "Montserrat-Regular";
  position: relative;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.dashboardSitebar ul li a {
  display: block;
  padding:15px 7.5px;
  font-size: 14px;
  line-height: 18px;
  border-left: #00458a solid 5px;
  color: #fff;
  box-sizing: border-box;
  position: relative;
}
.dashboardSitebar ul li a title{
  display: inline-block;
}
.dashboardSitebar ul li i {
  vertical-align: middle;
  margin-right: 5px;
  position: relative;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
}
.dashboardSitebar ul li:hover > a,
.dashboardSitebar ul li.active > a{
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: #000;
  border-left: #C90303 solid 5px;
  background-color: #fff;
}
/* .dashboardSitebar ul li:hover ul {
  display: block;
} */
.dashboardSitebar ul li ul {
  display: none;
  margin: 0px;
  padding: 0px;
  background-color: #fff;
}
.dashboardSitebar ul li ul li {
  float: none;
  display: block;
  margin: 0px;
  padding: 0px;
  position: relative;
  text-align: left;
  box-sizing: border-box;
  width: 100%;
}
.dashboardSitebar ul li ul li a {
  padding: 10px 15px;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  color: #666;
  line-height: 18px;
  border-left: #fff solid 5px;
  border-bottom: #CCD4DD solid 1px;
}
.dashboardSitebar ul li ul li:hover a,
.dashboardSitebar ul li ul li.active a{
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: #06406F;
  border-left: #fff solid 5px;
}
.dashboardContainer {
  background: url('../images/bgLogin.png') bottom left no-repeat;
  background-color: #EFF1F7;
  overflow: hidden;
  height: auto;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
  margin-top: 50px;
  min-height: 100vh;
}
.dashboardContainer h2 {
   font-size: 22px;
   line-height: 26px;
   color: #666;
   font-family: 'Montserrat-Medium';
   padding: 15px 0px;
   box-sizing: border-box;
}
.dashboardContainer h3{
  font-size: 16px;
  line-height: 20px;
  font-family: "Montserrat-Medium";
  color: #031724;
  padding:15px 0px;
}
.dataBox{
  background-color: #fff;
  margin: 15px 0px;
  box-sizing: border-box;
  position: relative;
  clear: both;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #dfdfdf;
  -moz-box-shadow: 0px 0px 5px #dfdfdf;
  -webkit-box-shadow: 0px 0px 5px #dfdfdf;
}  
.dataBox h4{
  font-size: 16px;
  line-height: 20px;
  font-family: "Montserrat-Regular";
  color: #000000;
  padding:15px;
  border-bottom: #CDD1D8 solid 1px;
  box-sizing: border-box;
}  
.dataBox h4 a{
  float: right;
  position: relative;
}  
.dataBox h4 a img{
  vertical-align: middle;
  width: 24px;
  height: 24px;
}  
.formBox{
  background-color: #fff;
  margin: 15px 0px;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
  display: block;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #dfdfdf;
  -moz-box-shadow: 0px 0px 5px #dfdfdf;
  -webkit-box-shadow: 0px 0px 5px #dfdfdf;
}    
.form-label {
  font-size: 12px !important;
}
.customBtn{
  background-color: #fff;
  border: none;
  font-size: 12px;
  line-height: 14px;
  color: #000;
  float: right;
  padding:6px 8px;
  margin: 0px 0px 0px 10px;
  border-radius:4px;
  position: relative;
  top: -8px;
  font-family: 'Montserrat-Medium';
}
.customBtn img{
  vertical-align: middle;
}
/* table css start */
thead, tr, th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  font-size: 12px;
  font-family: "Montserrat-Bold";
}
tbody, tr, td {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  font-size: 12px;
  font-family: "Montserrat-Regular";
}
.table {
  --bs-table-bg: #FCFCFC;
  --bs-table-hover-bg: #fff;
  --bs-table-striped-bg: #fff;
}
.table>:not(caption)>*>* {
  padding:0.9rem 0.5rem;
}
.table>:not(:first-child) {
  border-top: transparent;
}
.table>:not(caption)>*>* { 
  background-color: #80a5cb21;
}
.tIcon{
  width: 18px;
  height: 18px;
  display: inline-block;
}
/* table css end */
.hamburger{
  float: left;
  cursor: pointer;
  padding: 2px 5px;
  box-sizing: border-box;
}
.hamburger img{
  width: 45px;
  height: 45px;
}
.btn-primary {
  color: #fff;
  background-color: #00458a;
  border-color: #00458a;
}
.footer{
  display: block;
  padding: 10px 15px;
  clear: both;
  background-color: #fff;
  }
  .footer p{
  font-size: 14px;
  line-height: 18px;
  padding: 5px 0px;
  color: #00458a;
  }
  .customItem{
    display: block;
    color:#666;
    font-size: 12px;
    line-height: 16px;
    padding: 15px 15px 20px;
  }
  .customItem span{
    display: block;
    color:#ED0000;
    font-size: 28px;
    line-height: 32px;
    float: right;
    text-align: right;
    position: relative;
    top: -8px;
  }
  .customItem i{
    display: block;
    font-style: normal;
    color:#2D2D34;
    font-size: 18px;
    line-height: 22px;
    float: right;
    text-align: right;
    position: relative;
    top: -2px;
  }
  hr{
    margin: 0px 15px;
    color: #b9b8b8;
  }
  .fetchBox{
    padding: 7px 15px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 17px;
    color: #9C9EA0;
    border-left: #AFDBFE solid 3px;
  }
  .fetchBox span{
   padding-top: 15px;
   display: block;
    font-size: 15px;
    line-height: 19px;
    color: #000;
  }
.card {
   border: 0;
}
.card-body {
    padding: 0px;
}
.card-header {
    padding: 0px;
    background-color: transparent;
    border-bottom: transparent;
    margin-bottom: 10px;
    box-shadow: 0px 10px 10px -15px #111;
    -moz-box-shadow: 0px 10px 10px -15px #111;
    -webkit-box-shadow: 0px 10px 10px -15px #111;
}
.card-header .btn{
   font-size: 14px !important;
   color: #000;
   display: block;
   text-align: left;
}
.card-header .btn:focus {
  outline: none;
  box-shadow: none;
}
/* tabs css */
.nav-tabs {
  border-bottom: 1px solid transparent;
  background-color: #fff;
}
.tab-content{
  padding: 0px !important;
  background-color: #fff;
}
.tab-pane{
  padding: 0px !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #000;
  border-color: transparent;
  border-bottom: #C90713 solid 1px;
}
.nav-link{
  color: #9C9EA0;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  color: #000;
  border-color: transparent;
  border-bottom: #C90713 solid 1px;
}
/* tabs css */






  



/* media queries start */

@media only screen and (min-width: 1680px) and (max-width: 1920px) {
}
@media only screen and (min-width: 1440px) and (max-width: 1680px) {
}
@media only screen and (min-width: 1280px) and (max-width: 1440px) {
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (min-width: 768px) and (max-width: 999px) {
}
@media only screen and (min-width: 768px)  {
.dashboardSitebarCollapsed .titleCtrl{
  display: none;
}
.dashboardSitebarCollapsed ul li ul .lastVisibleUl {
  display: block;
}
.dashboardSitebarCollapsed li:hover title{
  width: 250px !important;
  padding:20px;
  left:60px;
  top: 0px;
  box-sizing: border-box;
  position: absolute!important;
  background-color: #fff !important;
  z-index: 99;
  display: inline!important;
}
.dashboardSitebarCollapsed li:hover ul{
  display: block !important;
  z-index:1;
  width: 250px;
  left:65px;
  top: 28px;
  position: absolute;
}
.dashboardSitebarCollapsed ul li ul {
  padding: 32px 0px 0px 15px;
  background-color: #FBFBFB;
}
.dashboardSitebarCollapsed li ul li a title{
  left:0px !important;
  top:0px !important;
  background-color: #fff !important;
}
.dashboardSitebarCollapsed ul li ul{
  display: none !important;
  background-color: #fff;
}
.dashboardSitebarCollapsed ul li a title{
  background-color: #fff  !important;
}
.dashboardSitebarCollapsed ul li li title{
  background-color: transparent !important;
}
.dashboardSitebarCollapsed ul li ul li.active > a, 
.dashboardSitebarCollapsed ul li ul li:hover > a {
  background-color: #fff  !important;
}
.dashboardSitebarCollapsed ul li > a.active, 
.dashboardSitebarCollapsed ul li:hover > a {
  background-color: #fff !important;
}

}
@media (max-width: 767px) {
.loginBox{
  margin: 150px 15px 0px;
  width: 90%;
}
.logoCollapsed {
	width: 250px;
  height: 50px;
  background: transparent;
}
.logoCollapsed img {
	display: block;
}
.dashboardHeader .searchBar {
  float: none;
  width: 95%;
  margin: 0px auto;
  display: block;
}
.dashboardHeader {
	width: 100%;
	display: block;
  position: relative;
}
.dashboardSitebar{
  width: 100%;
  display: none;
}
.dashboardSitebar ul {
  padding: 0px;
}
.dashboardSitebarCollapsed {
  width: 100%;
  display: block;
  min-height: auto;
  z-index: 99;
  position: relative;
  top: 0px
}
.titleCtrl{
	display: block;
}
.dashboardSitebarCollapsed ul li ul .lastVisibleUl {
	display: block;
}
.dashboardContainer {
	width: 100%;
	margin-top:0px;
}
.logoCollapsed {
  width: 250px !important;
  background:transparent;
}
}
@media (max-width: 480px) {
.loginBox{
  margin: 150px 15px 0px;
  width: 90%;
}

} 

